.qv-object-qloudFriend div.qv-object-content-container {
	/*overflow: auto;*/
	text-align: center;
}

.qv-object-qloudFriend button {
	/*width: 100%; width comes from style parameter in button tag (dyn. setting of extension) */
	margin-left: 1px;
	margin-right: 1px;
}

.qloudFriend-welcome {
	font-size: 6.5pt;
    color: #aaa;
	position: absolute; 
    bottom: 0px; 
	right: 0px;
}

.qloudFriend-true {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  padding: 0;
}

.qloudFriend-false {
  display: none;
}

.qloudFriend-dialog {
  position: absolute;
  top: 100px;
  width: 400px;
  left: calc(50% - 200px);
}

.qloudFriend-rotate {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(1turn);
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform: rotate(1turn);
}

.qloudFriend-spinner {
	height:60px;
	width:60px;
	margin:0 auto;
    background-image: url(../extensions/qloudFriend/loader.svg);
    background-size: 100% 100%;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(1turn);
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform: rotate(1turn);
}

.lui-dialog {
	font-family: Source Sans Pro,sans-serif;
}
